In [23]:
import requests
import pandas as pd

In [24]:
docs_url = 'https://github.com/alexeygrigorev/llm-rag-workshop/raw/main/notebooks/documents.json'
docs_response = requests.get(docs_url)
documents_raw = docs_response.json()

documents = []

for course in documents_raw:
    course_name = course['course']

    for doc in course['documents']:
        doc['course'] = course_name
        documents.append(doc)

In [25]:
documents[0]

{'text': "The purpose of this document is to capture frequently asked technical questions\nThe exact day and hour of the course will be 15th Jan 2024 at 17h00. The course will start with the first  “Office Hours'' live.1\nSubscribe to course public Google Calendar (it works from Desktop only).\nRegister before the course starts using this link.\nJoin the course Telegram channel with announcements.\nDon’t forget to register in DataTalks.Club's Slack and join the channel.",
 'section': 'General course-related questions',
 'question': 'Course - When will the course start?',
 'course': 'data-engineering-zoomcamp'}

In [26]:
import pandas as pd

df = pd.DataFrame(documents, columns=['course', 'section', 'question', 'text'])
df.head()

,course,section,question,text
0,data-engineering-zoomcamp,General course-related questions,Course - When will the course start?,The purpose of this document is to capture fre...
1,data-engineering-zoomcamp,General course-related questions,Course - What are the prerequisites for this c...,GitHub - DataTalksClub data-engineering-zoomca...
2,data-engineering-zoomcamp,General course-related questions,Course - Can I still join the course after the...,"Yes, even if you don't register, you're still ..."
3,data-engineering-zoomcamp,General course-related questions,Course - I have registered for the Data Engine...,You don't need it. You're accepted. You can al...
4,data-engineering-zoomcamp,General course-related questions,Course - What can I do before the course starts?,You can start by installing and setting up all...

In [27]:
df[df.course == 'data-engineering-zoomcamp']

,course,section,question,text
0,data-engineering-zoomcamp,General course-related questions,Course - When will the course start?,The purpose of this document is to capture fre...
1,data-engineering-zoomcamp,General course-related questions,Course - What are the prerequisites for this c...,GitHub - DataTalksClub data-engineering-zoomca...
2,data-engineering-zoomcamp,General course-related questions,Course - Can I still join the course after the...,"Yes, even if you don't register, you're still ..."
3,data-engineering-zoomcamp,General course-related questions,Course - I have registered for the Data Engine...,You don't need it. You're accepted. You can al...
4,data-engineering-zoomcamp,General course-related questions,Course - What can I do before the course starts?,You can start by installing and setting up all...
...,...,...,...,...
430,data-engineering-zoomcamp,Workshop 2 - RisingWave,Unable to Open Dashboard as xdg-open doesn’t o...,Refer to the solution given in the first solut...
431,data-engineering-zoomcamp,Workshop 2 - RisingWave,Resolving Python Interpreter Path Inconsistenc...,Example Error:\nWhen attempting to execute a P...
432,data-engineering-zoomcamp,Workshop 2 - RisingWave,How does windowing work in Sql?,Ans : Windowing in streaming SQL involves defi...
433,data-engineering-zoomcamp,Triggers in Mage via CLI,"Encountering the error ""ModuleNotFoundError: N...","Python 3.12.1, is not compatible with kafka-py..."
434,data-engineering-zoomcamp,Triggers in Mage via CLI,Basic Commands,Docker Commands\n# Create a Docker Image from ...

# Implement text based search: We will use vector spaces. 

- Turn the document in the vectors
- document-term matrix:
    - rows: documnets
    - columns: words/tokens
- Bag of words:
    - word order is lost
    - sparse matrix

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(min_df=5)

In [29]:
cv.fit(df.text)
cv.get_feature_names_out()

array(['01', '02', '03', ..., 'youtube', 'zip', 'zoomcamp'], dtype=object)

In [30]:
docs_example = [
    "Course starts on 15th Jan 2024",
    "Prerequisites listed on GitHub",
    "Submit homeworks after start date",
    "Registration not required for participation",
    "Setup Google Cloud and Python before course"
]

In [34]:
cv = CountVectorizer(stop_words='english')
X = cv.fit_transform(docs_example)

names = cv.get_feature_names_out()

df_docs = pd.DataFrame(X.toarray(), columns=names).T
df_docs

               0  1  2  3  4
15th           1  0  0  0  0
2024           1  0  0  0  0
cloud          0  0  0  0  1
course         1  0  0  0  1
date           0  0  1  0  0
github         0  1  0  0  0
google         0  0  0  0  1
homeworks      0  0  1  0  0
jan            1  0  0  0  0
listed         0  1  0  0  0
participation  0  0  0  1  0
prerequisites  0  1  0  0  0
python         0  0  0  0  1
registration   0  0  0  1  0
required       0  0  0  1  0
setup          0  0  0  0  1
start          0  0  1  0  0
starts         1  0  0  0  0
submit         0  0  1  0  0

# By using TF-Idf

In [41]:
#Tf-IDf
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idfvectorizer = TfidfVectorizer()
X_tfidf = tf_idfvectorizer.fit_transform(docs_example)

feature_names_tfidf = tf_idfvectorizer.get_feature_names_out()

df_docs = pd.DataFrame(X_tfidf.toarray(), columns=names).T
df_docs

                      0         1         2         3         4
15th           0.434297  0.000000  0.000000  0.000000  0.000000
2024           0.434297  0.000000  0.000000  0.000000  0.000000
after          0.000000  0.000000  0.447214  0.000000  0.000000
and            0.000000  0.000000  0.000000  0.000000  0.387757
before         0.000000  0.000000  0.000000  0.000000  0.387757
cloud          0.000000  0.000000  0.000000  0.000000  0.387757
course         0.350388  0.000000  0.000000  0.000000  0.312840
date           0.000000  0.000000  0.447214  0.000000  0.000000
for            0.000000  0.000000  0.000000  0.447214  0.000000
github         0.000000  0.523358  0.000000  0.000000  0.000000
google         0.000000  0.000000  0.000000  0.000000  0.387757
homeworks      0.000000  0.000000  0.447214  0.000000  0.000000
jan            0.434297  0.000000  0.000000  0.000000  0.000000
listed         0.000000  0.523358  0.000000  0.000000  0.000000
not            0.000000  0.000000  0.000000  0.447214  0.000000
on             0.350388  0.422242  0.000000  0.000000  0.000000
participation  0.000000  0.000000  0.000000  0.447214  0.000000
prerequisites  0.000000  0.523358  0.000000  0.000000  0.000000
python         0.000000  0.000000  0.000000  0.000000  0.387757
registration   0.000000  0.000000  0.000000  0.447214  0.000000
required       0.000000  0.000000  0.000000  0.447214  0.000000
setup          0.000000  0.000000  0.000000  0.000000  0.387757
start          0.000000  0.000000  0.447214  0.000000  0.000000
starts         0.434297  0.000000  0.000000  0.000000  0.000000
submit         0.000000  0.000000  0.447214  0.000000  0.000000

In [44]:
#use it in our dataset using countverctorizer
cv = CountVectorizer(stop_words='english', min_df = 5)
X = cv.fit_transform(df.text)

names = cv.get_feature_names_out()

df_docs = pd.DataFrame(X.toarray(), columns=names).T
df_docs

,0,1,2,3,4,5,6,7,8,9,...,938,939,940,941,942,943,944,945,946,947
01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yes,0,0,1,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
yml,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
youtube,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
zip,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zoomcamp,0,1,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [48]:
#use it in our dataset using tf-idf
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf = TfidfVectorizer(stop_words='english', min_df = 5)
X = tf_idf.fit_transform(df.text)

names = tf_idf.get_feature_names_out()

df_docs = pd.DataFrame(X.toarray(), columns=names).T
df_docs.round(2)

,0,1,2,3,4,5,6,7,8,9,...,938,939,940,941,942,943,944,945,946,947
01,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
02,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
03,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
04,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
05,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yes,0.0,0.00,0.28,0.0,0.0,0.00,0.21,0.2,0.15,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
yml,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.11,0.0,0.0,0.0,0.00
youtube,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.15,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
zip,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
zoomcamp,0.0,0.43,0.00,0.0,0.0,0.19,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.15

In [85]:
query = "Do I need to know python to sign up for the January course?"

q = tf_idf.transform([query])
print(q)
q.toarray()

  (0, 1088)	0.5935519664108326
  (0, 945)	0.31441356049301333
  (0, 778)	0.29796783250107517
  (0, 644)	0.5608269127690405
  (0, 274)	0.38148200594064524

array([[0., 0., 0., ..., 0., 0., 0.]])

In [97]:
query_dict = dict(zip(names, q.toarray()[0]))
# query_dict

In [57]:
doc_dict = dict(zip(names, X.toarray()[1]))
# doc_dict

In [61]:
from sklearn.metrics.pairwise import cosine_similarity
score = cosine_similarity(X, q).flatten()

#same result
# X.dot(q.T).todense()

In [65]:
import numpy as np
np.argsort(score)[-5:]

array([764,  27, 806, 577, 445], dtype=int64)

In [67]:
df.iloc[806].text

'Technically, yes. Advisable? Not really. Reasons:\nSome homework(s) asks for specific python library versions.\nAnswers may not match in MCQ options if using different languages other than Python 3.10 (the recommended version for 2023 cohort)\nAnd as for midterms/capstones, your peer-reviewers may not know these other languages. Do you want to be penalized for others not knowing these other languages?\nYou can create a separate repo using course’s lessons but written in other languages for your own learnings, but not advisable for submissions.\ntx[source]'

In [69]:
fields = ['section', 'question', 'text']

In [78]:
matrices = {}
vectorizers = {}

for f in fields:
    cv = TfidfVectorizer(stop_words='english', min_df=5)
    X = cv.fit_transform(df[f])
    matrices[f] = X
    vectorizers[f] = cv

  (0, 47)	0.4969848620671003
  (0, 50)	0.510748534028322
  (0, 6)	0.4951242558592849
  (0, 24)	0.4969848620671003
  (1, 47)	0.4969848620671003
  (1, 50)	0.510748534028322
  (1, 6)	0.4951242558592849
  (1, 24)	0.4969848620671003
  (2, 47)	0.4969848620671003
  (2, 50)	0.510748534028322
  (2, 6)	0.4951242558592849
  (2, 24)	0.4969848620671003
  (3, 47)	0.4969848620671003
  (3, 50)	0.510748534028322
  (3, 6)	0.4951242558592849
  (3, 24)	0.4969848620671003
  (4, 47)	0.4969848620671003
  (4, 50)	0.510748534028322
  (4, 6)	0.4951242558592849
  (4, 24)	0.4969848620671003
  (5, 47)	0.4969848620671003
  (5, 50)	0.510748534028322
  (5, 6)	0.4951242558592849
  (5, 24)	0.4969848620671003
  (6, 47)	0.4969848620671003
  :	:
  (939, 37)	0.23534620040390958
  (940, 43)	0.6872452858897771
  (940, 2)	0.6872452858897771
  (940, 37)	0.23534620040390958
  (941, 43)	0.6872452858897771
  (941, 2)	0.6872452858897771
  (941, 37)	0.23534620040390958
  (942, 43)	0.6872452858897771
  (942, 2)	0.6872452858897771
  (942, 37)	0.23534620040390958
  (943, 43)	0.6872452858897771
  (943, 2)	0.6872452858897771
  (943, 37)	0.23534620040390958
  (944, 43)	0.6872452858897771
  (944, 2)	0.6872452858897771
  (944, 37)	0.23534620040390958
  (945, 43)	0.6872452858897771
  (945, 2)	0.6872452858897771
  (945, 37)	0.23534620040390958
  (946, 43)	0.6872452858897771
  (946, 2)	0.6872452858897771
  (946, 37)	0.23534620040390958
  (947, 43)	0.6872452858897771
  (947, 2)	0.6872452858897771
  (947, 37)	0.23534620040390958
  (0, 240)	0.5245011840540906
  (0, 48)	0.8514097180123427
  (1, 48)	1.0
  (2, 59)	0.4998643061866269
  (2, 240)	0.45427243319481725
  (2, 48)	0.7374091346327508
  (3, 55)	0.6566334834998759
  (3, 48)	0.7542098304496024
  (4, 48)	1.0
  (5, 48)	1.0
  (6, 185)	0.6685461212916952
  (6, 67)	0.5675207186844435
  (6, 48)	0.4805895520813188
  (7, 48)	1.0
  (8, 153)	0.4808565735259821
  (8, 247)	0.4919732307124544
  (8, 48)	0.7257680731192313
  (9, 48)	1.0
  (10, 282)	0.4948937786106932
  (10, 48)	0.8689534785547672
  (11, 153)	0.7982103692691016
  (11, 48)	0.6023787897920083
  (12, 243)	0.6989809420013756
  (12, 276)	0.7151402958293356
  (14, 190)	0.4650474049427561
  :	:
  (942, 169)	0.37839702292101857
  (942, 156)	0.2852120695147089
  (942, 234)	0.33875870376344447
  (942, 74)	0.18047138972683527
  (942, 30)	0.2943751028652957
  (942, 267)	0.4975436158588019
  (943, 224)	0.45894805208373834
  (943, 76)	0.441217463654964
  (943, 61)	0.3822644460935886
  (943, 173)	0.3945129840591079
  (943, 74)	0.223949500332718
  (943, 85)	0.3234918104841049
  (943, 96)	0.37165427989787064
  (944, 158)	0.5702352082581318
  (944, 39)	0.4756758298706814
  (944, 70)	0.6697494398203284
  (945, 145)	0.541608813767917
  (945, 39)	0.4425834192783011
  (945, 16)	0.4176686006850393
  (945, 160)	0.4891339936058313
  (945, 70)	0.3115777368969885
  (946, 182)	0.7161512169677952
  (946, 38)	0.6979451514521369
  (947, 50)	0.7841102725561002
  (947, 96)	0.6206215275608783
  (0, 1097)	0.12244179040667419
  (0, 218)	0.15553779146349614
  (0, 302)	0.15553779146349614
  (0, 488)	0.1526415368927702
  (0, 365)	0.11069178449656156
  (0, 194)	0.279443220004232
  (0, 630)	0.3052830737855404
  (0, 679)	0.10479787285408461
  (0, 1256)	0.06693223098276156
  (0, 1136)	0.15877552861050906
  (0, 985)	0.33336723868239826
  (0, 333)	0.13499761934018062
  (0, 1309)	0.12433833502914488
  (0, 524)	0.09876050335844637
  (0, 935)	0.13096763733447864
  (0, 685)	0.1526415368927702
  (0, 562)	0.14149570901506722
  (0, 811)	0.15553779146349614
  (0, 1132)	0.11129596252897118
  (0, 25)	0.14149570901506722
  (0, 624)	0.15877552861050906
  (0, 274)	0.5102333963686946
  (0, 308)	0.15553779146349614
  (0, 951)	0.11453369967598409
  (0, 118)	0.139721610002116
  :	:
  (946, 896)	0.3356389607070687
  (946, 1077)	0.18403709955430766
  (947, 172)	0.24221460820054086
  (947, 413)	0.23674151211150818
  (947, 1270)	0.23674151211150818
  (947, 780)	0.22012257738904895
  (947, 328)	0.19918519578416416
  (947, 592)	0.20128757128844352
  (947, 638)	0.1739703751404416
  (947, 186)	0.19918519578416416
  (947, 60)	0.10440052878381884
  (947, 244)	0.16976285481082873
  (947, 279)	0.16245693461474325
  (947, 1267)	0.19003913601509692
  (947, 137)	0.23191389922486652
  (947, 55)	0.24221460820054086
  (947, 332)	0.30431245127813783
  (947, 912)	0.1197213394870096
  (947, 135)	0.1678107079521171
  (947, 464)	0.10935515551938146
  (947, 1100)	0.09733549138687464
  (947, 690)	0.14902590067743987
  (947, 755)	0.21380435164226408
  (947, 1186)	0.41169282758798686
  (947, 1332)	0.14842753477676246

In [75]:
matrices
vectorizers

{'section': TfidfVectorizer(min_df=5, stop_words='english'),
 'question': TfidfVectorizer(min_df=5, stop_words='english'),
 'text': TfidfVectorizer(min_df=5, stop_words='english')}

In [ ]:
df_pd = pd.DataFrame(df['query_dict'], df['doc_dict'], index=['query', 'doc']).T
(df_pd['query'] * df_pd['doc']).sum()